@import url("../style.css");


.mainArea {
	width: 750px;
}

iframe#eventCalendar {
	border-width:0;
	width:100%;
	min-width:400;
	height:600px;
	frameborder:0;
	scrolling:no;
	border-radius:10px;
}

.middleArea {
	padding-bottom: 0;
	border-radius:10px;		
}