@import url("../../../../css/style.css");

body {
	background-image: url(../images/2012picbgblack.png);
}

img.classPicPage {
	margin: 1em auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 15px #000;
	box-shadow: 0px 0px 15px #000;
}